# dependencies
node_modules/

# builds
dist/
build/
.expo/
web-build/

# env
.env
.env.local
.env.*.local
.env.production

# logs
*.log
npm-debug.log*

# misc
.DS_Store
*.tsbuildinfo
coverage/

# native
apps/mobile/android/
apps/mobile/ios/